<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://www.sowngwalascience.com/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <base href="<%= htmlWebpackPlugin.options.basename %>">
  <link rel="stylesheet" href="main.css" type="text/css" />
  <title>sowngwala-js</title>
</head>

<body class="flex flex-col justify-start items-center">

  <!-- BEGIN: generic-wrapper -->
  <div id="generic-wrapper">

    <!-- BEGIN: container -->
    <div id="container">
      <div id="title" class="font-3xl font-bold">
        Sun's Position
      </div>

      <div id="description" class="mt-5">
Specify the date you want to check the Equatorial position of the sun, and the program will calculate <span class="strong">right ascension (α)</span> and <span class="strong">declination (δ)</span> for you.
      </div>

      <!-- BEGIN: form -->
      <div id="form" class="mt-5">
        <div id="year-label" class="label">
          Year
        </div>

        <input type="text" id="year" value="1988" />

        <div id="month-label" class="label">
          Month
        </div>

        <input type="text" id="month" value="7" />

        <div id="day-label" class="label">
          Date
        </div>

        <input type="text" id="day" value="27" />

        <div id="time-label" class="label">
          Time
        </div>

        <div id="time-wrapper">
          <input type="text" id="hour" value="0" />
          <input type="text" id="min" value="0" />
          <input type="text" id="sec" value="0" />
        </div>

        <div id="result-wrapper">
          <div id="lng-label">(Ecliptic) [lng(λ)]</div>
          <div id="lng"></div>

          <div id="asc-label">(Equatorial) [asc(α)]</div>
          <div id="asc"></div>

          <div id="dec-label">(Equatorial) [dec(δ)]</div>
          <div id="dec"></div>
        </div>
      </div>
      <!-- END OF: form -->

    </div>
    <!-- END OF: container -->

  </div>
  <!-- END OF: generic-wrapper -->

<script defer src="<%= htmlWebpackPlugin.options.SOWNGWALA_PATH %>"></script>

<script type="text/javascript">
window.addEventListener('load', () => {
  Check.start();
});
</script>

</body>
</html>
