<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://www.sowngwalascience.com/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <base href="<%= htmlWebpackPlugin.options.basename %>">
  <link rel="stylesheet" href="main.css" type="text/css" />
  <title>sowngwala-js</title>
</head>

<body class="flex flex-col justify-start items-center">

  <!-- BEGIN: generic-wrapper -->
  <div id="generic-wrapper">

    <!-- BEGIN: container -->
    <div id="container">
      <h1 id="title" class="font-3xl font-bold">
        Position of the Sun
      </h1>

      <div class="mt-5 small">
        This is a demo page for <span class="font-bold">SowngwalaJS</span> which is a JS ported version of another library of mine written in Rust for calculating the sun's position. Most of the programs are based on Peter Duffett-Smith "Practical Astronomy With Your Calculator" (The Press Syndicate of the University of Cambridge, 1988).<br />
See Github:<br />
        <a href="https://github.com/minagawah/sowngwala-js" target="_blank">https://github.com/minagawah/sowngwala-js</a>
      </div>

      <div id="description" class="mt-5">
        Date and time are for calculating the <span class="strong">Ecliptic</span>, <span class="strong">Equatorial</span>, and <span class="strong">Horizontal</span> position of the sun. Latitude and Longitude are used for converting the Equatorial into the Horizontal.
      </div>

      <!-- BEGIN: form -->
      <div id="form" class="mt-5">
        <div id="year-label" class="label">
          Year
        </div>

        <input type="text" id="year" />

        <div id="month-label" class="label">
          Month
        </div>

        <input type="text" id="month" />

        <div id="day-label" class="label">
          Day
        </div>

        <input type="text" id="day" />

        <div id="time-label" class="label">
          Time
        </div>

        <div id="time-wrapper">
          <input type="text" id="hour" />
          <input type="text" id="min" />
          <input type="text" id="sec" />
        </div>

        <div id="city-label" class="label">
          City
        </div>

        <div id="city-wrapper">
          <input type="text" id="city" />
          <div id="suggestion"></div>
        </div>

        <div id="location-label" class="label">
          Lat/Lng
        </div>

        <div id="location-wrapper">
          <input type="text" id="lat" />
          <select id="lat-bound">
            <option>-</option>
            <option value="N">N</option>
            <option value="S">S</option>
          </select>
          <input type="text" id="lng" />
          <select id="lng-bound">
            <option>-</option>
            <option value="E">E</option>
            <option value="W">W</option>
          </select>
        </div>
      </div>
      <!-- END OF: form -->

      <div id="result-wrapper">
        <div class="result-inner-wrapper result-subtitle">
          Ecliptic
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Sun's Longitude (λ)</div>
          <div id="ecliptic-lng" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Mean anomaly (M)</div>
          <div id="mean-anom" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Mean Obliquity (ε)</div>
          <div id="obliquity" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper result-subtitle">
          Equatorial
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Right Ascension (α)</div>
          <div id="asc" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Declination (δ)</div>
          <div id="dec" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper result-subtitle">
          Horizontal
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Azimuth (A)</div>
          <div id="azimuth" class="result-value"></div>
        </div>

        <div class="result-inner-wrapper">
          <div class="result-label">Altitude (α)</div>
          <div id="altitude" class="result-value"></div>
        </div>
      </div>
      <!-- END OF: result-wrapper -->

    </div>
    <!-- END OF: container -->

  </div>
  <!-- END OF: generic-wrapper -->

<script defer src="<%= htmlWebpackPlugin.options.SOWNGWALA_PATH %>"></script>

</body>
</html>
