@import '_define.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family:
    /*
                  * "-apple-system" targets San Francisco
                  * in Safari on Mac OS X and iOS, and
                  * Neue Helvetica and Lucida Grande on older
                  * versions of Mac OS X. It properly selects
                  * between San Francisco Text
                  * and San Francisco Display.
                  */ -apple-system,
    /* For Chrome on Mac OS X */ BlinkMacSystemFont,
    /* Microsoft Windows and Windows Phone */ 'Segoe UI', /* Android */ 'Roboto',
    /* KDE */ 'Oxygen', 'Ubuntu', /* Fedora */ 'Cantarell',
    /* FirefoxOS */ 'Fira Sans', /* Android 2 */ 'Droid Sans',
    /* MacOS 2 */ 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05rem;
  background-color: #f2ffea;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

em {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
}

.strong {
  @apply px-2 py-1 font-bold;
  background-color: #e7ff20;
  color: #101010;
}

/*
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  h1 --> 0.67em
  h2 --> 0.83em
  h3 --> 1em
 */
h1 {
  @apply font-bold text-3xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4,
h5,
h6 {
  @apply font-bold;
}

p,
li {
  line-height: 130%;
}

p {
  margin-block-start: 0.2em;
  margin-block-end: 0.8em;
}

li {
  margin-bottom: 0.5em;
}

.content {
  padding: 1rem;
}

a,
a:visited,
a:hover,
a:active {
  @mixin generic-link;
}

.button {
  @apply block px-5 py-2 rounded-lg cursor-pointer border border-solid border-gray-300 drop-shadow-2xl text-center;
}

.input {
  @apply px-2 py-2 rounded border border-solid border-gray-300 shadow-inner drop-shadow-2xl;
}

#generic-wrapper {
  @mixin generic-content-wrapper;
  @apply bg-white;
}

#container {
  @apply w-full border border-solid px-5 py-5 flex flex-col justify-start items-center text-gray-900 text-xl;
  background-color: #e4ffcc;
  border-color: #b2ff6d;
}

#form {
  @apply gap-3;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: repeat(4, 2rem) 4rem 1fr;
}

.label {
  @apply flex flex-row justify-end items-center;
}

#year-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#year {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

#month-label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#month {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

#day-label {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#day {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}

#year, #month, #day {
  width: 9rem;
}

#time-label {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#time-wrapper {
  @apply flex flex-row justify-start items-center;
  grid-column: 2 / -1;
  grid-row: 4 / 5;
}

#hour, #min, #sec {
  width: 2.5rem;
  margin-right: 0.2rem;
  text-align: center;
}

#location-label {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

#location-wrapper {
  @apply gap-3;
  grid-column: 2 / -1;
  grid-row: 5 / 6;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 8rem 4rem;
  grid-template-rows: repeat(2, 1fr);
}

#lat {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#lat-bound {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

#lng {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

#lng-bound {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

#result-wrapper {
  @apply mt-8 px-5 flex flex-col justify-start items-center text-xl;
  grid-column: 1 / -1;
  grid-row: 6 / -1;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 80%;
    max-width: 500px;
  }
}

.result-subtitle {
  @apply w-full mt-5 py-2 text-2xl font-bold;
  background-color: #55af04;
  color: #c6ff90;
}

.result-inner-wrapper {
  @apply w-full flex flex-col justify-start items-center;
}

.result-label {
  @apply w-full px-3 py-1 font-bold;
  background-color: #baf583;
  color: #55a30d;
}

.result-value {
  @apply w-full px-3 py-2 text-2xl;
  text-align: right;
  background-color: #f5ffeb;
}
